spring:
    datasource:
        password: 123456789
        url: jdbc:mysql://localhost:3306/veterinaryappointment
        username: root
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true


    main:
        banner-mode: off
    output:
        ansi:
          enabled: ALWAYS

